%hr
%small
  %p Roster365.com does not employ, recommend or endorse any provider or service nor is it responsible for the conduct of any provider or service. Roster365.com provides information and tools to help parents and guardians and care providers make informed decisions.  However, anyone looking for child care is solely responsible for selecting an appropriate care provider or service for any relationship they establish. Daycare_Decisions.com does not provide medical advice, diagnosis or treatment or engage in any conduct that requires a professional license.

%hr

%center

  = link_to 'Home', root_path
  &nbsp;
  = link_to 'About Us', about_path
  &nbsp;
  = link_to 'Advertise with us', advertise_path
  &nbsp;
  = link_to 'Contact Us', contact_us_path
  &nbsp;
  = link_to 'Privacy Policy', privacy_policy_path
  &nbsp;
  = link_to 'Terms and Conditions', terms_conditions_path