%header 
   
  %p.floatleft
  = image_tag "logo.png", size: "280x90", alt: "logo"

  %p Daycare Decisions Landing Page (MVP Mechanical)
         
  %p.floatright
  = link_to "Logon or Register", admin_root_path

  %br
  %br
  #menu
    %ul
      %li
        = link_to 'Home', "http://daycaredecisions.com.au"
      %li
        = link_to 'Find Providers', 
          href="http://development.daycare-decisions.divshot.io/"
      %li
        = link_to 'FAQ', faq_path
      %li
        = link_to 'About Us', about_path
      %li>
        = link_to "Research", "http://daycaredecisions.com.au/research/"
      %li
        = link_to "Provider Services", provider_services_path


  %br
  %br