/_concurrence.html.haml
%br
%fieldset
  %p= 'The Client retains the operator to perform the Client Services on the terms of this Client Service Conditions which form part of this agreement.'
  %p= 'Date: ______________________________________'
  %p= 'Client P.O. #: ________________________________'
  %p= 'Client Signature:______________________________'
  %p= 'Client Name (Print):___________________________'