/_header.html.haml

#content-wrapper
  #content
    #column-one
      = image_tag("Roster365_logo.gif", size: '220x80', :alt=>"Roster365")
    #column-two    
    #header-right
      %p= "1/7 Straithard Road"
      %p= "Bundall QLD 4217"
      %p=  't: 07 5504 7100'
      %p=  'f: 07 5504 7133'
      %p=  'ABN: 39 129 116 365'
      %p=  'ACN: 129 116 365'
%br
%br